################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
bin-int/
*.opendb


.user
/.vs/Amber/v17/ipch/AutoPCH/8fcf50dc5f5fa836/AMBER.ipch